body {
  max-width: 1200px;
  background-color: var(--c-light);
  margin: auto;
  padding: 0;
}

section {
  margin-bottom: 20px;
}

.card {
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);

  border-radius: 12px;
  margin: 8px;
  padding: 16px;
  background-color: var(--c-white);
}

.panel {
  transition-duration: 0.125s;
  border: var(--c-light) 3px solid;
  border-radius: 12px;
  padding: 16px;

  background-color: white;

  &:hover:not(.inactive) {
    border: var(--c-primary) 3px solid;
  }

  @media screen and (max-width: 600px) {
    padding: 12px;
  }

  &.panel-wide {
    padding: 24px;
    min-width: 360px;

    @media screen and (max-width: 600px) {
      min-width: 240px;
    }
  }
}

.large-image {
  border-radius: 12px;
  max-width: 100%;
  min-width: 260px;
}

.large-svg {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.banner-image {
  border-top: var(--c-primary) solid 3px;
  width: 100%;
}

.banner-image-rounded {
  border: none;
  border-radius: 16px;
}

/* Positioning */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;

  &.bottom {
    align-items: flex-end;
    margin-top: -5px;
    padding-top: 20px;
  }

  &.container--extra-spacing {
    margin: 72px 16px;
  }

  &.container-text {
    flex-direction: column;
    padding-left: 16px;
  }
}

.box {
  flex: 1;
  margin: 16px;
  max-width: 550px;

  &.fb-plugin {
    background-image: url("../../img/foto/home-intro.webp");
    background-size: cover;
    border-radius: 12px;
  }

  &.box-center {
    max-width: 800px;
    margin: 10px auto;
  }
}
