.contact-form {
  padding: 16px;

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;

    font-size: 14px;
    margin: 8px 0;
    padding: 12px;
    background: var(--c-white);

    border-radius: 8px;
    border: var(--c-secondary) 3px solid;
    transition-duration: 0.125s;

    &:focus {
      outline: var(--c-primary-dark) 3px solid
    }
  }
}

button,
  input[type="submit"] {
    width: 100%;
    font-size: 16px;
    margin: 8px 0;
    padding: 12px;
    font-weight: bold;

    background: var(--c-secondary);
    border-radius: 8px;
    border: var(--c-secondary) 3px solid;
    transition-duration: 0.125s;

    &:hover {
      outline: var(--c-primary-dark) 3px solid;
      cursor: pointer;
    }
  }

textarea {
  resize: vertical;
  min-height: 144px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--c-primary);
  color: var(--c-white);
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;

  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 2.5s 4.5s;
  animation: fadein 0.5s, fadeout 2.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
