footer {
  font-size: var(--f-small);
  background-color: var(--c-light);

  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);

  .info-list {
    padding: 8px;
    list-style-type: none;
    margin-right: 100px;

    .info-list__label {
      margin-bottom: 0px;
      color: var(--c-primary-dark);
    }
  }

  .footer-icon {
    min-width: 140px;
    max-width: 160px;
  }

  .footer-sponsors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 8px;
  }

  .footer-bottom {
    padding: 16px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
