.jumbotron {
  padding-top: 44%;
  min-height: 500px;

  background-image: url("../../img/foto/home-header.webp");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.jumbotron-text {
  background: var(--c-secondary);
  color: var(--c-dark);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 32px;
  padding-top: 8px;
  max-width: 80%;
  position: relative;
  top: -128px;
}
