@import url("https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: var(--c-dark);
}

h1 {
  font-family: "Alata", sans-serif;
  font-size: 42px;
  color: var(--c-dark);

  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}

.section-title {
  margin-bottom: 0;
}

h2 {
  font-family: "Alata", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--c-primary-dark);

  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.section-subtitle {
  margin-top: 0;
}

h3 {
  margin: 0;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--c-primary-dark);
  margin-bottom: 16px;
}

p {
  display: block;
  line-height: 24px;
  font-size: 16px;
  max-width: 800px;

  margin: 0px;
  margin-bottom: 16px;

  &.sticky {
    padding-top: 0;
  }

  &.accent {
    padding-top: 20px;
    color: var(--c-primary-dark);
    font-style: italic;
  }
}

.heavy {
  font-weight: 600;
  font-size: 20px;
}

a {
  color: var(--c-primary-dark);
  font-weight: 700;
  text-decoration: none;
  transition: color 0.125s;

  &:hover {
    color: var(--c-primary);
  }
}

.no-effect {
  font-family: "Open Sans", sans-serif;
  color: var(--c-dark);
  font-weight: 500;

  &:hover {
    color: var(--c-dark);
  }
}

.facebook {
  padding: 10px;
  color: var(--c-facebook-light);
  transition: filter 0.125s;

  &:hover {
    color: var(--c-facebook);
    filter: brightness(0.8);
  }

  & img {
    position: relative;
    top: 10px;
    left: 5px;
  }
}

.facebook-link {
  display: none;
}
