// Main SCSS file

// Colors
$dark: #3c4859;
$primary-dark: #0a6c3a;
$primary: #329f5b;
$primary-light: #8fd5a6;
$secondary: #f2dcd0;
$light: #f7f2f2;

// Social Colors
$facebook: #3b5998;
$facebook-light: #1778f2;

// Layout
$break-big: 1200px;
$break-small: 950px;
$break-mobile: 600px;

* {
  box-sizing: border-box;
}

.hide {
  opacity: 0;
}
