// Main body scss
body {
  max-width: $break-big;
  background-color: $light;
  margin: auto;
  padding: 0;
}

section {
  margin-bottom: 20px;
}

.card {
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);

  border-radius: 5px;
  padding: 20px;
}


.panel {
  transition-duration: 0.2s;
  border: $light 3px solid;
  border-radius: 5px;

  background-color: white;

  &:hover {
    transform: scale(1.02);
    border: $primary 3px solid;
  }

  &.panel-uneven {
    background-color: $secondary;
  }
}

// Images

.large-image {
  border-radius: 5px;
  max-width: 100%;
  min-width: 260px;
}

.banner-image {
  border-top: $primary solid 3px;
  width: 100%;

  &-rounded {
    border: none;
    border-radius: 5px;
  }
}

/* Positioning */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

  &.bottom {
    align-items: flex-end;
    margin-top: -5px;
    padding-top: 20px;
  }

  &--extra-spacing {
    margin: 100px 0;
  }

  &--initial {
    margin-top: 150px;
  }
}

.box {
  flex: 1;
  margin: 10px;
  padding: 10px;

  &.fb-plugin {
    background-image: url("../../img/foto/intro.jpg");
    background-size: cover;
    border-radius: 5px;
  }

  &.center-box {
    max-width: 800px;
    margin: 10px auto;
  }
}

.sleep-center {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sleep-button {
  border: 3px black solid;
  padding: 10px;
  margin: 10px;
  min-width: 240px;
  font-weight: 600;
  font-size: 20px;
  background-color: $light;

  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.04);
    -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4);
  }
}
