footer {
  background-color: $secondary;

  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.2);

  .info-list {
    padding: 5px;
    list-style-type: none;
    font-size: 14px;
    margin-right: 100px;

    .info-list__label {
      margin-bottom: 0px;
      font-size: 12px;
      color: $primary-dark;
    }
  }

  .footer-icon {
    margin: 10px;
    width: 140px;
  }

  .footer-bottom {
    padding-bottom: 20px;

    p {
      text-align: center;
      font-size: 12px;
    }
  }
}
