// Fixed top header

header {
  z-index: 10;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  max-width: $break-big;

  background: linear-gradient(bottom, rgba(255, 255, 255, 0.001) 0%, rgba(247, 242, 242, 1) 80%);
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.001) 0%, rgba(247, 242, 242, 1) 80%);

  .header-icon {
    margin: 20px;
    height: 80px;
    transition: .2s;

    @media screen and (max-width: $break-mobile) {
      height: 50px;
    }
  }
}

nav {
  float: right;
  margin-right: 60px;

  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li.menu-item {
    float: left;

    a {
      display: block;
      padding: 20px 30px 0 0;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: $dark;
      text-decoration: none;

      &.menu-item-symbol {
        padding: 15px;
      }

      &.active {
        color: $primary;
      }
    }

    &:hover a {
      color: $primary;
    }

  }

  @media screen and (max-width: $break-small) {
    display: none;
  }
}

@media screen and (max-width: $break-small) {
  nav.vertical {
    margin: 0;
    display: block;
    align-content: center;
    background: $light;
    width: 100%;

    li.menu-item {
      float: none;
      width: 100%;

      a {
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }
}

.hamburger {
  width: 45px;
  float: right;
  margin-right: 20px;

  .hamburger-line {
    width: 35px;
    height: 4px;
    background-color: $dark;
    transition: .2s;
    margin: 7px 0;
  }

  &.active {
    .line-1 {
      width: 44px;
      transform: rotate(45deg) translate(3px, 12px);
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      width: 45px;
      transform: rotate(-45deg) translate(3px, -12px);
    }
  }

  &:hover .hamburger-line {
    background-color: $primary-dark;
  }

  @media screen and (min-width: $break-small) {
    display: none;
  }
}
