// Fixed top header

header {
    z-index: 10;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    max-width: $break-lg;
    background-color: $black;

    .header-icon {
        height: 32px;
        margin: 10px 0 0 5px;
        transition: .3s;

        opacity: 1;
        &.hide {
            opacity: 0;
        }
    }
}

nav {
    float: right;
    margin-right: 20px;

    a {
        display: block;
        padding: 10px 30px;
        text-align: center;
        font-size: 20px;
        color:white;
        text-decoration: none;

        transition-duration: .2s;
    }
    
    ul.menu {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    li.menu-item {
        float: left;
        
        &:hover a {
            color: $accent-dark;
           }
        
    }
}

