@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    font-family: 'Work Sans';
    color: $black;
}

h1 {
    font-family: 'Oswald';
    font-size: 64px;
    color: $black;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald';
    font-size: 54px;
    color: $black;
    margin-top: 0;
    text-transform: uppercase;
}

p {
    line-height: 28px;
    font-size: 20px;

    @media screen and (min-width: $break-md){
        font-size: 24px;
    }
}