@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'lato';
    color: $black;
}

h1 {
    font-family: 'montserrat';
    font-size: 48px;
    color: $black;
    margin-left: -5px;
}

h2 {
    font-family: 'montserrat';
    font-size: 32px;
    color: $black;
}

p {
    font-size: 18px;
}