@import url("https://fonts.googleapis.com/css?family=Alata|Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: $dark;
}

h1 {
  margin-right: 200px;
  font-family: "Alata", sans-serif;
  font-size: 42px;
  color: $dark;
}

h2 {
  margin-left: 10px;
  font-family: "Alata", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: $primary-dark;
}

h3 {
  margin-left: 10px;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: $primary-dark;

  margin: 0;
  padding: 10px;
}

p {
  display: block;
  line-height: 24px;
  font-size: 16px;
  max-width: 800px;

  margin: 0px;
  padding: 10px;

  &.accent {
    padding-top: 20px;
    color: $primary-dark;
    font-style: italic;
  }
}

a {
  color: $primary-dark;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.1s;

  &:hover {
    color: $primary-light;
  }
}

.no-effect {
  font-family: "Open Sans", sans-serif;
  color: $dark;
  font-weight: 500;

  &:hover {
    color: $dark;
  }
}

.facebook {
  padding: 10px;
  color: $facebook-light;

  &:hover {
    color: $facebook;
    border-color: $facebook;
  }

  & img {
    position: relative;
    top: 10px;
    left: 5px;
  }
}

.facebook-link {
  display: none;
}
