<footer>
    <div class="container bottom">
        <div class="box info">
            <img src="assets/img/symbols/logo.png" height="64px" alt="Logo" />
            <ul class="info-list">
                <li>Bergsebaan 38</li>
                <li>2910 Essen Hoek</li>
                <li>
                    <a href="mailto: info@stalmoleneind.be">info@stalmoleneind.be</a>
                </li>
            </ul>
            <ul class="info-list">
                <li class="info-list__label">Paardenpension</li>
                <li><b>+32</b> 496 69 61 23</li>
                <li class="info-list__label">Zorgboerderij</li>
                <li><b>+32</b> 493 21 89 87</li>
                <li class="info-list__label">Slapen tussen de paarden</li>
                <li>Enkel via mail <b>info@stalmoleneind.be</b> of via <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSctifEY24a34RrB5OXSGnTlNLo9ibkY30p3UPvkI8Ox4Sy4dQ/viewform">reserveren</a>.
                </li>
            </ul>
        </div>

        <a href="https://www.vaph.be/">
            <img class="footer-icon" src="assets/img/footer/vaph-logo.png" alt="vaph logo" />
        </a>
        <a href="http://www.groenezorg.be/">
            <img class="footer-icon" src="assets/img/footer/zorg-logo.png" alt="groene zorg logo" />
        </a>
        <a href="https://www.gsportvlaanderen.be/">
            <img class="footer-icon" src="assets/img/footer/gsport-logo.png" alt="G-sport logo" />
        </a>
    </div>
    <div class="footer-bottom">
        <p class="light">
            <a href="/privacy-policy.html">Privacy Policy</a>
            | © 2020 Stal Moleneind vzw |
            <a href="http://hidde.cc">Hidde van Bavel</a>
        </p>
    </div>
</footer>