<header>
  <a href="/">
    <img id="header-icon" class="header-icon" src="/img/symbols/logo.png" alt="Logo" />
  </a>
  <div id="hamburger" class="hamburger">
    <div class="hamburger-line line-1"></div>
    <div class="hamburger-line line-2"></div>
    <div class="hamburger-line line-3"></div>
  </div>
  <nav id="navigation">
    <ul class="menu">
      <li class="menu-item">
        <a href="/">Home</a>
      </li>
      <li class="menu-item">
        <a href="/pension.html">Paardenpension</a>
      </li>
      <li class="menu-item">
        <a href="/slapen.html">Slapen tussen de paarden</a>
      </li>
      <li class="menu-item">
        <a href="/zorgboerderij.html">Zorgboerderij</a>
      </li>
      <li class="menu-item">
        <a href="/zorgboerderij.html#contact">Contact</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-symbol" href="https://www.facebook.com/stalmoleneind/">
          <img src="/img/symbols/facebook.png" height="32px" alt="facebook" />
        </a>
      </li>
    </ul>
  </nav>
</header>